<table>
  <% @regions.each do |region| %>
    <tr class="region-row">
      <td><%= region.name.upcase %></td>
      <% @issues.each do |issue| %>
        <td><%= issue.title %></td>
      <% end %>

    </tr>
    <% region.divisions.each do |division| %>
      <tr class="division-row">
        <td><%= division.name %></td>
        <td></td>
      </tr>
      <% division.states.each do |state| %>
        <tr class="state-row">
          <td><%= state.name %></td>
          <% @issues.each do |issue| %>
            <td id="home-rates"><%= link_to state.percent_complete(issue), state_issue_path(state,issue) %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
